        <ul id="social">
            
            <li id="share">
                <span class="title"> 相关链接 </span>
                <div class="dropdown share">
                    <ul class="social">
                      <li> <a href="http://spf13.com" target="_blank" title="spf13 is Steve Francis" class="blog">spf13</a> </li>
                      <li> <a href="http://zhibimo.com/" target="_blank" title="知笔墨" class="blog">知笔墨</a> </li>
                      <li> <a href="http://1.guotie.sinaapp.com/?cat=134" target="_blank" title="铁哥" class="blog">铁哥</a> </li>
                      <li> <a href="http://tonybai.com/" target="_blank" title="tonybai" class="blog">tonybai</a> </li>
                      <li> <a href="http://keenwon.com/" target="_blank" title="keenwon" class="blog">keenwon</a> </li>
                      <li> <a href="https://jysperm.me/" target="_blank" title="王子亭" class="blog">王子亭</a> </li>
                      <li> <a href="http://www.dongming8.cn/" target="_blank" title="日月明心" class="blog">日月明心</a> </li>
                      <li> <a href="http://disksing.com/" target="_blank" title="黄梦龙" class="blog">黄梦龙</a> </li>
                      <li> <a href="http://blog.mutoo.im/" target="_blank" title="木匣子" class="blog">木匣子</a> </li>
                      <li> <a href="http://www.zhaoxiaodan.com/" target="_blank" title="胖梁" class="blog">胖梁</a> </li>
                    </ul>
                <span class="icon icon-bubbles"> </span> <span class="subcount"></span> </div>
            </li>
        </ul>
